<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <a href="/add_classes.html">添加</a>
</div>
<div>
    <table border="1">
        <thead>
        <tr>
            <th>ID</th>
            <th>名称</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>a</td>
                <td>
                    <a href="/del_classes.html?nid=1">
                      <input type=button value="删除" >
                    </a>
                    <a href="/del_classes.html?nid=1">
                      <input type=button value="编辑" >
                    </a>
                </td>
            </tr>
            <tr>
              <td>2</td>
              <td>b</td>
              <td>
                  <a href="/del_classes.html?nid=2">删除</a>
                  <a href="/edit_classes.html?nid=2">编辑</a>
              </td>
          </tr>
        
        </tbody>
    </table>
</div>
</body>
</html>